@use "base/variables" as v;
@use "base/mixins" as m;

.submenu {
  position: relative;

  #carrito {
    display: none;
    &:hover {
      display: block;
      position: absolute;
      right: 0;

      top: 100%;
      z-index: 1;
      background-color: white;
      padding: 20px;
      min-height: 400px;
      min-width: 300px;
    }
  }
}
.img-carrito {
  margin: 0 auto;
}

.borrar-curso {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
