@use 'base/variables' as v;

html {
  font-size: 62.5%; //1 rem = 10 px
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  background-color: v.$blanco;
}
main {
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 100px 0;
  min-height: calc(100vh - 136px);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 1.5rem;
}

p {
  font-size: 1.5rem;
  color: v.$primario;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
  color: v.$primario;
}
h3 {
  font-size: 2.4rem;
  color: v.$primario;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: v.$primario;
  color: #fff;
  text-align: left;
}

table thead tr th {
  border: none;
  font-size: 1.125rem;
  padding: 2rem 1.25rem;
  white-space: nowrap;
}

table tbody tr {
  border-bottom: none;
  background-color: v.$primario;
  color: v.$blanco;
  font-weight: bold;
}
table tbody tr p {
  color: v.$blanco;
  font-weight: bold;
}

table tbody tr:nth-of-type(even) {
  background-color: v.$primario;
}

table tbody tr:last-of-type {
  border-bottom: 4px solid #354a5f;
}

table tbody tr td {
  padding: 1rem 1.25rem;
  border: none;
  white-space: wrap;
  color: v.$blanco;
}

table tbody tr td img {
  max-width: 100px;
  height: auto;
}
