@use 'base/variables' as v;

//Media Queries Mixins

@mixin smart {
  @media (min-width: v.$smart) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}
@mixin desktopXL {
  @media (min-width: v.$desktopXl) {
    @content;
  }
}

//grid para catalogos

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

// grid para acomodar con fracciones

@mixin gridfr($espaciado, $frLeft, $frRight) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: $frLeft $frRight;

  @content;
}

//keyframes

@mixin mostrarProducto {
  @keyframes mostrarProducto {
    0% {
      opacity: 0;
      transform: translate(-10rem);
    }
    50% {
      opacity: 0;
      transform: translate(-5rem);
    }
    100% {
      opacity: 1;
      transform: translate(0rem);
    }
  }
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-name: mostrarProducto;
  @content;
}

//Boton
@mixin boton($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1.5rem 4rem;
  color: $colorTexto;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;

  @include tablet {
    width: auto;
  }
  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}
@mixin botonSales($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1.5rem 2rem;
  color: $colorTexto;
  font-size: 1.5rem;
  display: flex;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;

  @include tablet {
    width: auto;
  }
  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}
